{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block css %}
<style type="text/css">
  body{
    padding-top: 40px;
  }
  h1, p{
    text-align:center;
  }
  h1{
    font-size:64px;
    margin:75px 0 50px;
  }
  p{
    font-size:24px;
    margin:15px 0;
  }
</style>
{% endblock %}

{% block main %}
<h1>404</h1>
<p>That page doesn't even exist.</p>
<p>Why don't you just <a href="{{ url_for('home') }}">go back home</a>?</p>
{% endblock %}

{% block js %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
