{% extends "base.html" %}

{% block main %}
<h1 class="page-header">About</h1>
<p>This webpage is about {{ name }}.</p>
{% endblock %}

{% block js %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
