{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Add User</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  <form method="POST" action="{{ url_for('add_user') }}">
    {{ form.csrf_token }}
    <div class="form-group">{{ form.name.label }} {{ form.name(size=20, class="form-control") }}</div>
    <div class="form-group">{{ form.email.label }} {{ form.email(size=20, class="form-control", type="email") }}</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}

{% block js %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
