{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/cytoscape-panzoom/2.2.0/cytoscape.js-panzoom.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/cytoscape/cytoscape.js-navigator/1.0.1/cytoscape.js-navigator.css">

    <link rel="stylesheet" href="/static/css/topology.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.js"></script>
    <script src="/static/js/topology/require-config.js"></script>

    <script>
        require([
            'jquery',
            'react',
            'react-dom',
            'jsx!intermap',
        ], function($, React, ReactDOM, IntermapViz) {
                    ReactDOM.render(
                        React.createElement(IntermapViz, {
                            data: {{ data | tojson }}
                        }),
                        document.getElementById('viz')
                    );
        });
    </script>
{% endblock %}

{% block main %}
      <div id="viz"></div>
{% endblock %}
