{% extends "base.html" %}

{% block css %}
<script type="text/javascript" src="/static/lib/d3/d3.v3.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
<link href="/static/css/sunburst.css"/ rel="stylesheet" type="text/css" >

<script>
window.onload = function() {
    window.sunburst = new draw_sunburst({{sunburst_data | tojson }});
}
</script>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/sunburst/sunburst.js"></script>
{% endblock %}

{% block main %}
      <div id="sequence"></div>
      <div id="chart"> </div>
{% endblock %}
