{% extends "base.html" %}

{% block css %}
<script type="text/javascript" src="/static/lib/d3/d3.v3.min.js"></script>
<script type="text/javascript" src="/static/lib/jQuery/jquery-1.9.0.js"></script>
<script type="text/javascript" src="/static/lib/jQuery/jquery.tipsy.js"></script>
<script type="text/javascript" src="/static/lib/jQuery/jquery.contextMenu.js"></script>
<script type="text/javascript" src="/static/lib/dagre/dagre.js"></script>
<script type="text/javascript" src="/static/js/Minimap.js"></script>
<script type="text/javascript" src="/static/js/MinimapZoom.js"></script>
<script type="text/javascript" src="/static/js/DirectedAcyclicGraph.js"></script>
<script type="text/javascript" src="/static/js/List.js"></script>
<script type="text/javascript" src="/static/js/Selectable.js"></script>
<script type="text/javascript" src="/static/js/Graph.js"></script>
<script type="text/javascript" src="/static/js/History.js"></script>
<script type="text/javascript" src="/static/js/Tooltip.js"></script>
<script type="text/javascript" src="/static/js/ContextMenu.js"></script>
<script type="text/javascript" src="/static/js/xtrace_utils.js"></script>
<script type="text/javascript" src="/static/js/xtrace_graph.js"></script>
<link href="/static/css/xtrace.css" rel="stylesheet" type="text/css">
<link href="/static/css/tipsy.css" rel="stylesheet" type="text/css" />
<link href="/static/css/jquery.contextMenu.css" rel="stylesheet" type="text/css" />

<script>
window.onload = function() {
    document.getElementById("main_div").style.width="100%";
    document.getElementById("main_div").style.height="800px";
    window.xtrace = new XTraceDAG(document.getElementById("main_div"), {{ data | tojson }}, {{ targets }});
}
</script>

{% endblock %}


