<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Interactive Fuzzing</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('fuzzer_stats') }}">Fuzzer Stats</a></li>
            <!-- <li><a href="{{ url_for('fuzzer_stats') }}">Fuzzer Stats</a></li> -->
            <li><a href="{{ url_for('graph') }}">Graph</a></li>
            <li><a href="{{ url_for('graph_sunburst') }}">Graph sunburst</a></li>
            <li><a href="{{ url_for('graph_topology') }}">Graph topology</a></li>
            <li><a href="{{ url_for('graph_full') }}">Full Graph</a></li>
            <li><a href="{{ url_for('update_targets') }}">Update Target Address</a></li>
            <li><a href="{{ url_for('upload_testcase') }}">Upload Testcase</a></li>
            <!-- <li><a href="{{ url_for('set_range') }}">Set Mutation Range</a></li> -->
            <!-- <li><a href="{{ url_for('add_constraint') }}">Add Mutation Constraints</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
