{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Show Users</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  <ul>
    {% for user in users %}
    <li>{{ user.name }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block js %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
