{% extends "base.html" %}

{% block main %}
<div class="container">
  <h1 class="page-header">Fuzzer_stats</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">value</th>
          </tr>
        </thead>
        <tbody>
          {% for col in stats[1:] %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ col[0] }}</td>
            <td>{{ col[1] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>


{% endblock %}

{% block js %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
