{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Update Target Address</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% if messages[0] == 'Success' %}
        <div class="alert alert-success">
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      {% else %}
        <div class="alert alert-danger">
          <ul id="lists">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  {% endwith %}


  <div class="row">
    <div class="col-xs-6">
      {% if targets %}
      <div>Current Target Address</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">target address</th>
            <th scope="col">basic block</th>
          </tr>
        </thead>
        <tbody>
          {% for target in targets %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>0x{{ '%0x' % target[1] }}</td>
            <td>0x{{ '%0x' % target[2] }}, 0x{{ '%0x' % target[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}
        <div>No target address specified</div>
    {% endif %}
    </div>
    <div class="col-xs-6">


  <form method="POST" action="{{ url_for('update_targets') }}" onsubmit="return validateForm()">
    {{ form.csrf_token }}
    <div class="form-group">{{ form.target.label }} {{ form.target(size=20, class="form-control") }}</div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

    </div>
</div>

</div>
{% endblock %}

{% block js %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
      function validateForm()
      {
        var addr = document.getElementById('target').value;
        var regExp = new RegExp(/^0x[0-9A-F]{1,4}$/i);
        if (!regExp.test(addr)){

          var errorDisplay = document.getElementById('errors').style;

          errorMsg += '<li>Invalid target address</li>';

          return false;
        }
        return true;
      }
    </script>

{% endblock %}
