/* body { */
/*   font-family: 'Open Sans', sans-serif; */
/*   font-size: 12px; */
/*   font-weight: 400; */
/*   background-color: #fff; */
/*   width: 960px; */
/*   height: 700px; */
/*   margin-top: 10px; */
/* } */

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 1.5em;
}

